@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* ROKAF Sans 굵게 */
@font-face {
  font-family: "ROKAF Sans";
  src: url("../fonts/ROKAFSansBold.woff2") format("woff2");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  /* 우리 사이트 전체를 관통하는 공통 폰트관련속성 */
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

/* =============================================== */
/* Color Palette */

:root {
  --primary-100-3692ff: #3692ff;
  --primary-200-1967d6: #1967d6;
  --primary-300-1251aa: #1251aa;

  --error-red-f74747: #f74747;

  --gray-900-111827: #111827;
  --gray-800-1f2937: #1f2937;
  --gray-700-374151: #374151;
  --gray-600-4b5563: #4b5563;
  --gray-500-6b7280: #6b7280;
  --gray-400-9ca3af: #9ca3af;
  --gray-200-e5e7eb: #e5e7eb;
  --gray-100-f3f4f6: #f3f4f6;
  --gray-50-f9fafb: #f9fafb;
}
